:root {
  --fs-fluid-title: clamp(
    3.5rem,
    9vw + 1rem,
    12rem
  ); /* min, growth-factor, max */

  --fs-title: 9rem;
  --fs-subtitle: 3rem;
  --fs-med: 1.5rem;
  --fs-body: 1rem;
  --fs-sml: 0.66rem;
  --fs-responsive: clamp(1.25rem, 2vw + 1rem, 2rem);

  /* type */
  --ff-body: "neue-haas-grotesk-text", sans-serif;
  --fw-body: 400;
  --ff-header: "neue-haas-grotesk-display", sans-serif;
  --fw-header: 500;

  --cc-light: #eaeaea90;
  --cc-light-darker: #d1d3d4;
  --cc-grey: #ccccccd7;
  --cc-grey: #cccccc;
  --cc-body: #000000ef;
  --cc-fill: #0091ff;
  --cc-burrowing-text: #eaeaea;

  --cc-overlay: rgba(255, 255, 255, 0.1);
  --cc-highlight-background: black;
  --cc-highlight-foreground: yellow;

  /* blend */
  --cc-blend-hue: #5e5e5e;
  --cc-blend-saturation: #817ba8;
  --cc-blend-colour: #585440;

  --cc-dusk-background: #58424d;
  --cc-dusk-foreground: #fa6432;
  --cc-night-background: #424658;
  --cc-night-foreground: #7dcff6;
  --cc-dawn-background: #4f4258;
  --cc-dawn-foreground: #f656b0;
  --cc-day-background: #584e40;
  --cc-day-foreground: #ccf13a;

  --padding-button: 0.05em 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: var(--fw-primary);
  margin: 0;
  padding: 0;
  color: inherit;
}

/* svg */
.logo-container svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  /* DOES THE MAGIC */
  overflow: initial;
}

.mode-high-contrast .lighten {
  background-color: var(--cc-light);
}
.mode-high-contrast span.lighten {
  background-color: unset !important;
}
.dusk-background {
  background-color: var(--cc-dusk-background);
}
.dusk-foreground {
  fill: var(--cc-dusk-foreground);
  color: var(--cc-dusk-foreground);
}
.night-background {
  background-color: var(--cc-night-background);
}
.night-foreground {
  fill: var(--cc-night-foreground);
  color: var(--cc-night-foreground);
}
.dawn-background {
  background-color: var(--cc-dawn-background);
}
.dawn-foreground {
  fill: var(--cc-dawn-foreground);
  color: var(--cc-dawn-foreground);
}
.day-background {
  background-color: var(--cc-day-background);
}
.day-foreground {
  fill: var(--cc-day-foreground);
  color: var(--cc-day-foreground);
}
body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-optical-sizing: auto;

  font-family: var(--ff-body);
  font-weight: var(--fw-body);
}

::selection,
::-moz-selection {
  background-color: var(--cc-highlight-foreground);
  color: var(--cc-highlight-background);
}

/* hover states */
.button:hover,
button.btn--info:hover,
button:hover {
  background-color: var(--cc-highlight-foreground) !important;
  color: var(--cc-highlight-background) !important;
}
button:focus {
  outline: 2px var(--cc-highlight-foreground) solid !important;
  filter: brightness(0.9);
}
