:root {
  --fs-fluid-title: clamp(
    3.5rem,
    9vw + 1rem,
    12rem
  ); /* min, growth-factor, max */

  --fs-title: 9rem;
  --fs-subtitle: 3rem;
  --fs-med: 1.5rem;
  --fs-body: 1rem;
  --fs-sml: 0.66rem;
  --fs-responsive: clamp(1.25rem, 2vw + 1rem, 2rem);

  /* type */
  --ff-body: "neue-haas-grotesk-text", sans-serif;
  --fw-body: 400;
  --ff-header: "neue-haas-grotesk-display", sans-serif;
  --fw-header: 500;

  --cc-light: #eaeaea90;
  --cc-light-darker: #d1d3d4;
  --cc-grey: #ccccccd7;
  --cc-grey: #cccccc;
  --cc-body: #000000ef;
  --cc-fill: #0091ff;
  --cc-burrowing-text: #eaeaea;

  --cc-overlay: rgba(255, 255, 255, 0.1);
  --cc-highlight-background: black;
  --cc-highlight-foreground: yellow;

  /* blend */
  --cc-blend-hue: #5e5e5e;
  --cc-blend-saturation: #817ba8;
  --cc-blend-colour: #585440;

  --cc-dusk-background: #58424d;
  --cc-dusk-foreground: #fa6432;
  --cc-night-background: #424658;
  --cc-night-foreground: #7dcff6;
  --cc-dawn-background: #4f4258;
  --cc-dawn-foreground: #f656b0;
  --cc-day-background: #584e40;
  --cc-day-foreground: #ccf13a;

  --padding-button: 0.05em 0.5em;

  --content-container-max-height: 66vh;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

section p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-optical-sizing: auto;

  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  overflow-x: hidden;
}

body {
  transition: background-color 1s ease, color 1s ease;
}

::selection,
::-moz-selection {
  background-color: var(--cc-highlight-foreground);
  color: var(--cc-highlight-background);
}

/* focus state */
html *:focus {
  outline: 2px solid var(--cc-highlight-foreground);
}
.column:focus {
  outline: unset;
}

.lighten {
  /* background-color: var(--cc-light); */
  background-color: var(--cc-overlay);
  /* backdrop-filter: brightness(1.1); */
}

/* modes */
.mode-high-contrast .lighten {
  background-color: var(--cc-light);
}
.mode-high-contrast span.lighten {
  background-color: unset !important;
}
.dusk-background {
  background-color: var(--cc-dusk-background);
}
.dusk-foreground {
  fill: var(--cc-dusk-foreground);
  color: var(--cc-dusk-foreground);
}
.night-background {
  background-color: var(--cc-night-background);
}
.night-foreground {
  fill: var(--cc-night-foreground);
  color: var(--cc-night-foreground);
}
.dawn-background {
  background-color: var(--cc-dawn-background);
}
.dawn-foreground {
  fill: var(--cc-dawn-foreground);
  color: var(--cc-dawn-foreground);
}
.day-background {
  background-color: var(--cc-day-background);
}
.day-foreground {
  fill: var(--cc-day-foreground);
  color: var(--cc-day-foreground);
}

.dusk-background .lighten::before,
.dusk-background .interact {
  background-color: color-mix(
    in srgb,
    var(--cc-dusk-background),
    var(--cc-overlay)
  );
  color: var(--cc-dusk-foreground);
}

.night-background .lighten::before,
.night-background .interact {
  background-color: color-mix(
    in srgb,
    var(--cc-night-background),
    var(--cc-overlay)
  );
  color: var(--cc-night-foreground);
}

.dawn-background .lighten::before,
.dawn-background .interact {
  background-color: color-mix(
    in srgb,
    var(--cc-dawn-background),
    var(--cc-overlay)
  );
  color: var(--cc-dawn-foreground);
}

.day-background .lighten::before,
.day-background .interact {
  background-color: color-mix(
    in srgb,
    var(--cc-day-background),
    var(--cc-overlay)
  );
  color: var(--cc-day-foreground);
}

/* type */

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: var(--fw-primary);
  margin: 0;
  padding: 0;
  color: inherit;

  /* TODO: revise */

  letter-spacing: -0.025em;
}

a {
  text-decoration: none;
  color: unset;
}
.content a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  /* text-decoration-color: var(--cc-highlight-foreground); */
}

ul li {
  list-style: none;
}
.accessibility-info ul li {
  list-style: disc;
  margin-left: 2rem;
}

h1.section-title {
  /* min preferred max*/
  font-size: clamp(3rem, 2vw + 1.5rem, 5rem);

  line-height: 0.9;
  font-weight: bold;
}
h2.title {
  font-size: var(--fs-responsive);
  display: inline-block;
  margin-bottom: 1rem;
}
h2.event-title {
  font-weight: bold;
}

/* hover states */
.content a:hover,
.button:hover,
button.btn--info:hover,
button:hover,
a h1.section-title:hover,
.row a:hover {
  background-color: var(--cc-highlight-foreground) !important;
  color: var(--cc-highlight-background) !important;
}
button:focus {
  outline: 2px var(--cc-highlight-foreground) solid !important;
  filter: brightness(0.9);
}

/* svg */
.logo-container svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  /* DOES THE MAGIC */
  overflow: initial;
}

/* desktop */
@media screen and (min-width: 768px) {
  main.content {
    margin-top: 6em;
  }
}

/* layout */
.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.content-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  /* height: var(--content-container-max-height); */
  /* width: auto;
  width: calc(100% - 1.5rem);
  gap: 0 1em; */
}

section.column {
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow: auto;
  scrollbar-color: transparent transparent;
  padding: 0.5em;
}
#col2 {
  /* padding-left: 0; */
  /* padding-top: 10em; */
}
main .column {
  grid-column: span 2;
}

/* mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .content-container,
  main {
    max-height: unset;
    margin: 0;
    margin-bottom: 1em;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
/* desktop */
@media screen and (min-width: 768px) {
  section.column {
    padding-top: 10em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh calc(50vh - 3em) minmax(calc(100vh - 1.5em), auto);
  }
}
/* .time,
.date,
.artists > *,
.event > *,
.artists > * {
  background-color: #eaeaea90;
}

.time:hover,
.date:hover,
.event > *:hover,
.artists > *:hover {
  background-color: unset;
} */

.prefix,
.sml {
  font-size: var(--fs-sml);
}

/* modes */
.switch {
  position: relative;
  display: block;
  width: 3rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 2s;
}
.switch .slider,
.switch .slider:before {
  background-color: var(--cc-highlight-background);
}

.switch .slider:before {
  background-color: var(--cc-highlight-foreground);
}

input:checked + .slider:before {
  background-color: white !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 4px;
  background-color: white;

  -webkit-transition: background-color 1000ms linear, transform 0.4s;
  -ms-transition: background-color 1000ms linear, transform 0.4s;
  transition: background-color 1000ms linear, transform 0.4s;
}

input:checked + .slider {
  background-color: var(--cc-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
  /* transform: translateX(calc(100vw - 2rem)); */
}

.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* swamp icons */
.mobile .icon__swamp {
  top: 0;

  /* fallback ? */
  isolation: isolate; /* create a new stacking context */
  will-change: transform; /* hardware acceleration */
  transform: translateZ(0); /* force GPU */

  /* proper rendering */
  backface-visibility: hidden; /* force GPU */
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  opacity: 0.3;
}
.column .icon__swamp::before {
  content: "";
  position: absolute;
  pointer-events: none;
}

.column .icon__swamp {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* movement */
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  left: 0;
}
.icon__swamp img,
.icon__swamp svg {
  position: fixed !important;

  opacity: 0;
  transition: opacity 0.3s ease;
  display: block;

  /* display: none; */
  /* opacity: 1; */
  scale: 1.5;
  /* z-index: -1; */
}
.icon__swamp {
  transition: fill 2.2s ease;
}

.icon__swamp#icon-hue,
.icon__swamp#icon-mobile {
  fill: var(--cc-blend-hue);
  mix-blend-mode: hue;
  -webkit-mix-blend-mode: hue;
}
#icon-mobile {
  transform: 2.5s cubic-bezier(0.48, 1, 0.29, 1);
}
.icon__swamp#icon-saturation {
  fill: var(--cc-blend-saturation);
  mix-blend-mode: saturation;
  -webkit-mix-blend-mode: saturation;
}
.icon__swamp#icon-color {
  fill: var(--cc-blend-colour);
  mix-blend-mode: color;
  -webkit-mix-blend-mode: color;
}

/* reset text */
section > div > p:first-child {
  margin-top: 0;
}

/* menu overlay */
.overlay {
  display: flex !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--cc-highlight-background);
  opacity: 0.7;
  /* opacity: 0; */

  /* transition: opacity 0.5s, visibility 0.5s; */
  z-index: 10;
  visibility: hidden;
  display: none;
  justify-content: end;
  align-items: end;
}
@media (max-width: 768px) {
  .overlay {
    align-items: center;
    justify-content: flex-start;
  }
}

.overlay,
.overlay * {
  pointer-events: none !important;
}
.overlay-svg-container {
  max-width: 60rem;
  height: auto;
  width: 100%;
}
.overlay svg {
  pointer-events: none !important;
}

/* priority */

.hidden {
  display: none !important;
}
/* .hidden__visibility {
  visibility: hidden;
} */
.menu-header-container {
  z-index: 11;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.menu-header-container *:not(.pagination) {
  z-index: 11;
}
.menu-header-container .pagination {
  z-index: 50;

  position: absolute;
  right: 0;
  /* top: 0; */
  bottom: -2em;
  display: flex;
  gap: 0.5em;
}

.menu-toggle {
  width: 3rem;
  height: 1.5rem;
  align-self: flex-end;
}

/* desktop */
@media (min-width: 768px) {
  .menu-toggle {
    display: none; /* Hide menu button on desktop */
  }

  .items {
    display: flex !important; /* Always show menu on desktop */
    gap: 0 1rem;
    flex-wrap: wrap;
  }
  .row.settings {
    display: grid;
    align-content: space-between;
  }
}

/* mobile */
@media (max-width: 768px) {
  nav.menu-items-container {
    position: relative !important;
  }
  .menu-header-container {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    bottom: unset;
    display: flex;
    flex-direction: column;

    /* left: 0.5rem; */
    left: unset;
    /* gap: 1rem; */
    gap: 0;
  }
  .menu-header-container button {
    background-color: var(--cc-highlight-background);
    color: var(--cc-highlight-foreground);
  }
  /* .content,
  .event-details {
    margin-top: 1em;
  } */
  .artists-item {
    margin-bottom: 0.5rem;
    width: fit-content;
  }

  .items.hidden__visibility {
    display: none; /* Hide menu items when collapsed */
  }
  h2.title {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

/* erebus */
.descriptors {
  display: inline-flex;
  gap: 0.6em;
  padding-top: 0.6em;
}

.description span.prefix {
  margin-right: 2ch;
}

.descriptors svg {
  width: auto;
  cursor: pointer;
  height: var(--fs-body);
  scale: 2;
}

.descriptors svg:hover {
  transform: scale(1.5);
}

.tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
  z-index: 100;
  display: none;
}
