/* main.main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */
#col1 {
  grid-column: span 2;

  overflow-y: auto;
}
#col2 {
  grid-column: span 4;
}

section.column {
  grid-template-rows: unset;
}
.content-container {
  width: 100%;
}
.content {
  max-width: 60ch;
  height: fit-content;
}

ul li p {
  display: inline;
}
@media screen and (max-width: 768px) {
  main {
    margin: 0;
  }
  section.contact {
    margin-bottom: 2em;
  }
}
