/* main.main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */
#col1 {
  grid-column: span 2;

  overflow-y: auto;
}
#col2 {
  grid-column: span 4;
}

section.column {
  grid-template-rows: unset;
}
.content-container {
  width: 100%;
}
.content {
  max-width: 60ch;
  height: fit-content;
}

ul li p {
  display: inline;
}
@media screen and (max-width: 768px) {
  main {
    margin: 0;
  }
  section.contact {
    margin-bottom: 2em;
  }
}

.signup {
  padding-top: 1em;
}

li.team-member {
  list-style: none;
  margin-bottom: 0.5rem;
}

ul.reviews {
  width: 80%;
  float: right;
  padding: 0;
}
.reviews ul {
  padding: 0;
}
ul.reviews li:not(:first-of-type) {
  margin: 1.5em 0;
}
ul.reviews li:last-child {
  margin-bottom: 0;
}
ul.reviews p {
  margin: 0;
}
@media (max-width: 768px) {
  ul.reviews {
    /* width: 100%; */
    /* float: none; */
  }
}
