#col1 {
  grid-column: span 3;

  overflow-y: auto;
}
#col2 {
  grid-column: span 2;
}

/* 
Layout
 */
.content {
  max-width: 60ch;
  height: fit-content;
}

/* mobile */
@media (max-width: 768px) {
  /* single column */
  main {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .form {
    grid-column: auto;
    margin-bottom: 2em;
  }

  .description {
    max-height: none;
    overflow-y: visible;
  }
}

/* 
content layout 
*/
.content {
  height: fit-content;
}
h1 {
  width: fit-content;
}
