/* 
================
Layout
================
 */
#col1 {
  grid-column: span 3;
  overflow-y: auto;
}
#col2 {
  grid-column: span 3;
  margin-right: 1.5em;
  /* padding-right: 1.5em; */
}

.logos {
  background-color: var(--cc-primary);
  height: fit-content;
  /* width: fit-content; */
  width: auto;
  padding-right: 0em;
}

.logos svg {
  fill: black !important;
}
/* mobile */
@media (max-width: 768px) {
  h1.section-title {
    font-size: 2em;
  }
  /* single column */
  main {
    grid-template-columns: 1fr;
    gap: 0;
  }

  #col2 {
    margin-right: 0;
  }

  .logos {
    margin: 0 !important;
    display: flex;
    align-content: center;
    justify-content: center;

    flex-direction: column;
  }
}

/*
================
Logo responsiveness
================
*/

/* 
small screens
*/
.logos-medium,
.logos-large {
  display: none;
}

/* 
medium screens 
*/
@media (min-width: 768px) {
  .logos-small,
  .logos-large {
    display: none;
  }
  .logos-medium {
    display: block;
  }
}

/* 
large screens 
*/
@media (min-width: 1024px) {
  .logos-small,
  .logos-medium {
    display: none;
  }
  .logos-large {
    display: block;
  }
}
