.artist-sounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;

  align-items: center;
  /* margin: 0 -15px; */
}

.audio-sample {
  display: none;
}

.bio-long {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.bio-long.expanded {
  max-height: 1000px;
}
/* mobile layout order */
@media (max-width: 768px) {
  /* reset order */
  .section {
    order: 1;
  }

  #col2 {
    order: 1;
  }
  #col1 {
    order: 2;
  }

  #col3 {
    order: 3;
  }
}
