#col1 {
  grid-template-rows: 50vh minmax(calc(100vh - 10.5em), auto);
}
#col2 {
  grid-template-rows: minmax(calc(100vh - 12.5em), auto) minmax(
      calc(100vh - 10.75rem),
      auto
    );
}
#col3 {
  /* grid-template-rows: minmax(calc(100vh - 12em), auto); */
  /* grid-template-rows: 50vh minmax(calc(50vh - 12em), auto); */
  /* grid-template-rows: 50vh minmax(calc(100vh - 10.5em), auto) auto; */
  grid-template-rows: 50vh minmax(calc(50vh - 10.5em), auto) 50vh;
}

.artist-sounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;

  align-items: center;
  /* margin: 0 -15px; */
}

.audio-sample {
  display: none;
}

.bio-long {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.bio-long.expanded {
  max-height: 1000px;
}

.col-2 {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 1em;
  grid-template-columns: 4rem 1fr;
}
/* desktop */
@media screen and (min-width: 768px) {
  .row.content {
    font-size: var(--fs-med);
  }
  .artist-links {
    /* justify-self: flex-end;
    align-self: flex-end; */
    padding-top: 0.5em;
    width: calc(100% - 4em);
  }
}
.bio-container {
  width: 50%;
  /* align-self: flex-end; */
  justify-self: flex-end;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .bio-container {
    width: 100%;
  }
}

.section-header.prefix {
  height: var(--fs-med);
  align-content: end;
}
/* mobile */
@media screen and (max-width: 768px) {
  #col2 {
    display: flex;
    justify-content: flex-end;
  }
  .col-2 {
    margin-top: 1em;
    gap: 0;
    grid-template-columns: 4rem 5fr;
  }
  .bio-container {
    width: calc(100% - 4rem);
    align-self: flex-end;
  }
  .section-header.prefix {
    height: var(--fs-body);
  }
  .bio-short {
    margin: 1em 0;
  }
}
