img,
svg {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
  font-weight: var(--fw-header);
  margin: 0;
  padding: 0;
  /* line-height: 1; */
}

/* subtitle */
h3 {
  font-size: var(--fs-responsive);
}

.row.subtitle.details.desktop {
  line-height: 0.75;
}
.bg-grey {
  background-color: var(--cc-light);
}
.prompt--input,
.actions button,
.actions .button,
h2.title {
  font-size: var(--fs-responsive);
  width: 100%;
  text-align: start;
}
h2.title {
  width: auto;
}

ul.reviews {
  width: 80%;
  float: right;
  padding: 0;
}
.reviews ul {
  padding: 0;
}
ul.reviews li:not(:first-of-type) {
  margin: 1.5em 0;
}
ul.reviews li:last-child {
  margin-bottom: 0;
}
ul.reviews p {
  margin: 0;
}
ul.footer-links {
  margin: 0;
  padding: 0;
}

.button,
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--cc-body);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.ancillary {
  font-size: var(--fs-med);
  letter-spacing: -0.025em; /* reduce by 25% of fs */
  font-weight: 300;
}
#mobile .ancillary {
  font-size: 1rem;
}
.small {
  font-size: var(--fs-sml);
  font-style: italic;
}

.settings p {
  margin: 1em 0;
  padding: 0;
}
.settings .gap {
  padding: 0 0.5em;
  margin: 0 0.25em;
}
.settings .time span {
  margin: 0 0.5em;
}
/* first div elements */
.settings > div {
  display: inline-block;
}

span.lighten {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

/* Ensure the bg is behind the text */
.mode-high-contrast span.lighten::before,
span.lighten::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  /* bottom: 0.2em; */
  bottom: 0px;
  height: 0.7em;
  background-color: var(--cc-light);
  /* background-color: var(--cc-light-darker); */
  z-index: -1;
}
span.lighten {
  /* background-color: var(--cc-light);
  background-color: var(--cc-grey); */
}

.ae {
  height: 100%;
  font-size: var(--fs-title);
  z-index: -1;

  /* for scrolling underneath */
  /* position: fixed;
  width: 33%;
  height: 50%; */
}
.mobile .ae {
  z-index: 0;
}

/* data stream */
section.column {
  /* overflow: scroll; */
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow: auto;
  scrollbar-color: transparent transparent;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh calc(50vh - 3em) minmax(calc(100vh - 1.5em), auto);
}

.content {
  font-size: var(--fs-body);
}
.row a {
  text-decoration: none;
  color: unset;
}

.row a:hover {
  background-color: var(--cc-highlight-foreground);
  color: var(--cc-highlight-background);
}
.row a:focus {
  outline: 2px var(--cc-highlight-foreground) solid !important;
  filter: brightness(0.9);
}

.row.title {
  position: relative;
}
.details h3 {
  display: inline-block;
  margin-top: 0.5em;
}

.details h3 span,
.mobile h3 span {
  display: inline-block;
  margin-bottom: 0.25em;
  width: fit-content;
}
.mobile h3 span {
  margin: 0;
}

.title h1,
span.year {
  position: absolute;
  bottom: 0;
  line-height: 1;
  line-height: 0.75;
  /* background-color: var(--cc-grey); */
}
.title h1 {
  font-size: clamp(4rem, 7vw, 9rem);
}
span.year {
  right: 0;
  font-size: var(--fs-responsive);
}
.mode-high-contrast span.lighten.year::before {
  background-color: var(--cc-light-darker);
}
span.lighten.year::before {
  background-color: var(--cc-light);
}
#container {
  display: grid;
  grid-template-areas:
    "a b c"
    "a b c";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: minmax(100vh, max-content) auto;

  min-height: 100vh;
}

.actions {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}
.action-buttons img,
.action-buttons svg {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.prompt-icon {
  min-height: 250px;
  align-items: end;
  /* background-color: var(--cc-light); */
  /* transition: height 0.4s ease-in-out 0.6s, min-height 0.6s ease-in-out,
    background-color 0.2s linear 0.1s; */
}
.prompt-icon.no-bg {
  background-color: transparent;
}

.prompt-icon svg.hidden {
  opacity: 0;
  height: 0;
}

.action-buttons > * {
  display: flex; /* Each grid cell becomes a flex container */
  flex-direction: column; /* Stack contents vertically */
  justify-content: flex-end;
}

/* browse button & submit button, file name */
.btns--upload {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  text-align: left;
  width: 100%;
}
.action-buttons {
  grid-column: 1 / -1; /* spans both columns */
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}
button.btn--info {
  font-size: 1.5rem !important;
  text-align: center;
  width: var(--fs-subtitle);
  height: var(--fs-subtitle);
  border-radius: 50%;
  vertical-align: top;
  /* transition: background-color 0.2s ease; */
}

.column {
  position: relative;
  overflow: visible;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.column.a {
  grid-area: a;
}
.column.b {
  grid-area: b;
}
.column.c {
  grid-area: c;
}

.column {
  position: relative;
  overflow: visible;
}

.prompt--next {
  white-space: nowrap;
  justify-content: start;
  height: fit-content;
}
.prompt--container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: start;
}

.prompt--info-text {
  grid-column: 1 / -1;
}

.btn--play {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  padding: 0;
}
.btn--play .play-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  line-height: 1;
}

.space {
  height: 1em;
  margin: 1em 0;
}

svg {
  width: auto;
  /* height: 100%; */
}
.ae svg {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
}
.pt-5 {
  padding-top: 3.5em;
}
.mobile .flex span {
  width: fit-content;
  font-size: var(--fs-responsive);
  font-weight: 300;
}
.mobile .subtitle h3 {
  font-size: var(--fs-responsive);
  font-weight: 300;
}
.flex-end {
  height: 100%;
  display: flex;
  align-items: end;
}
.relative {
  position: relative;
}
.subtitle h3 {
  display: flex;
  flex-direction: column;
}

/* Mobile */

.mobile .logo-container.lighten {
  width: 100%;
  position: relative;
}

#mobile {
  display: none;
}

#mobile section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
  margin-bottom: 1em;
}
#mobile .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
}

/* mobile */
@media (max-width: 768px) {
  :root {
    --fs-subtitle: 2rem;
  }
  #mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  section.column {
    overflow: initial;
    grid-template-rows: auto;
    padding: 0;
  }
  section,
  section.column {
    padding: 0.5em;
  }
}

/* audio mix */
.audible-edge-mix {
  display: none;
  position: absolute;
  top: 0em;
  left: 0em;
  right: 0em;
  z-index: 1000;
  background: rgba(0, 0, 0, 1);

  padding: 1rem;
  /* border-radius: 4px; */
}

.audible-edge-mix.active {
  display: block;
}

/* mobile default */
.mobile .audible-edge-mix {
  position: fixed;
  bottom: 0;
  top: unset;
}
.mix-player {
  width: 100%;
  /* max-width: 600px; */
  display: grid;
  gap: 2rem;

  grid-template-columns: 1fr;
  grid-template-areas:
    "player"
    "info";
}

.player-wrapper {
  grid-area: player;
}

.mix-info {
  grid-area: info;
  color: var(--cc-light);
}

/* Desktop (3-column grid) */
@media (min-width: 768px) {
  .mix-player {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "info player";
  }
}

.mix-description {
  font-size: var(--fs-body);
}

.plyr--audio .plyr__control[data-plyr="play"] {
  background: var(--cc-grey);
}

.plyr--audio .plyr__control[data-plyr="play"]:hover {
  background: var(--cc-light);
}

.plyr--audio .plyr__controls {
  background: transparent !important;
  padding: 20px 0;
  color: unset !important;
}

/* handle high contrast / burrowing modes */
.mode-high-contrast .plyr--audio .plyr__progress__buffer,
.mode-high-contrast .plyr--audio .plyr__volume--display {
  color: var(--cc-body);
}

.mode-high-contrast .plyr--audio .plyr__progress input[type="range"],
.mode-high-contrast .plyr--audio .plyr__volume input[type="range"] {
  color: var(--cc-body);
}
.plyr--audio .plyr__progress input[type="range"],
.plyr--audio .plyr__volume input[type="range"] {
  color: unset;
}

.plyr__tooltip {
  top: 100% !important;
  bottom: auto !important;
  transform-origin: top !important;
  margin-top: 10px !important;
}

/* Adjust the arrow to point upward */
.plyr__tooltip::before {
  top: -4px !important;
  bottom: auto !important;
  border-top: 0 !important;
  border-bottom: 4px solid rgba(255, 255, 255, 0.9) !important;
}

.plyr__tooltip::after {
  top: -3px !important;
  bottom: auto !important;
  border-top: 0 !important;
  border-bottom: 4px solid rgba(255, 255, 255, 0.9) !important;
}

@media (max-width: 768px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "audio"
      "b"
      "c";
    grid-template-rows: auto;
    height: auto;
  }
  section.col {
    grid-template-rows: auto;
  }

  ul.reviews {
    width: 100%;
  }
  footer {
    margin-top: 0;
  }
}

/* logo */

.logo {
  fill: black !important;
}

.cls-rect {
  fill: var(--cc-light);
  transition: fill 0.2s ease;
}
.mode-high-contrast .cls-rect {
  fill: var(--cc-light-darker) !important;
}

.file-info {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  background-color: var(--cc-highlight-foreground);
  z-index: 100;
}

.extra {
  padding-bottom: 1rem;
}

.menu-items {
  align-content: flex-end;
  justify-content: flex-end;
  font-size: var(--fs-body);
  flex-wrap: wrap;
  gap: 0 2rem;
  letter-spacing: 0;
}

/* desktop */
@media screen and (min-width: 768px) {
  .menu-items {
    margin-top: 4.3rem;
  }
}

nav.menu-items-container ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 2rem;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  nav.menu-items-container ul {
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  nav.menu-items-container {
    display: flex;
    flex-direction: column;
  }
}
