:root {
  --fs-title: 6rem;
  --fs-subtitle: 3rem;
  --fs-med: 1.5rem;
  --fs-body: 1rem;
  --fs-sml: 0.75rem;
  --fs-responsive: clamp(1.25rem, 2vw + 1rem, 2rem);

  --ff-inter: "Inter", sans-serif;
  --fw-inter: 400;

  --ff-fancy: "Playfair Display", serif;
  --ff-sans: "Helvetica Neue", sans-serif;
  --cc-light: #eaeaea90;
  --cc-grey: #ccccccd7;
  --cc-body: #000000ef;
  --cc-fill: #0091ff;
  --cc-burrowing-text: #eaeaea;

  --cc-overlay: rgba(255, 255, 255, 0.1); /* 10% white overlay */

  /* mix blend modes */
  --cc-blend-hue: #5e5e5e;
  --cc-blend-saturation: #817ba8;
  --cc-blend-colour: #585440;

  --cc-dusk-background: #58424d;
  --cc-dusk-foreground: #fa6432;
  --cc-night-background: #424658;
  --cc-night-foreground: #7dcff6;
  --cc-dawn-background: #4f4258;
  --cc-dawn-foreground: #f656b0;
  --cc-day-background: #584e40;
  --cc-day-foreground: #ccf13a;
}

.mode-high-contrast .lighten {
  background-color: var(--cc-light);
}
.mode-high-contrast span.lighten {
  background-color: unset !important;
}
.dusk-background {
  background-color: var(--cc-dusk-background);
}
.dusk-foreground {
  fill: var(--cc-dusk-foreground);
  color: var(--cc-dusk-foreground);
}
.night-background {
  background-color: var(--cc-night-background);
}
.night-foreground {
  fill: var(--cc-night-foreground);
  color: var(--cc-night-foreground);
}
.dawn-background {
  background-color: var(--cc-dawn-background);
}
.dawn-foreground {
  fill: var(--cc-dawn-foreground);
  color: var(--cc-dawn-foreground);
}
.day-background {
  background-color: var(--cc-day-background);
}
.day-foreground {
  fill: var(--cc-day-foreground);
  color: var(--cc-day-foreground);
}
body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* color: var(--cc-body); */
  font-optical-sizing: auto;

  font-family: var(--ff-inter);
  font-weight: var(--fw-inter);
}
body {
  transition: background-color 1s ease, color 1s ease;
}
img,
svg {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-inter);
  font-weight: var(--fw-inter);
  margin: 0;
  padding: 0;
  line-height: 1;
}
/* p {
  font-size: var(--fs-med);
} */
h1,
h2,
h3 {
  font-size: var(--fs-subtitle);
}
.actions button,
.actions .button,
h2.title {
  font-size: var(--fs-responsive);
  width: 100%;
  text-align: start;
}
h2.title {
  display: inline;
}

ul.reviews {
  width: 80%;
  float: right;
  padding: 0;
}
.reviews ul {
  padding: 0;
}
ul.reviews li:not(:first-of-type) {
  margin: 1.5em 0;
}
ul.reviews p {
  margin: 0;
}
ul.footer-links {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.button,
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.ancillary {
  font-size: var(--fs-med);
  letter-spacing: -0.075em; /* reduce by 5% of fs */
  font-weight: 300;
}
.settings p {
  margin: 1em 0;
  padding: 0;
}
.settings .gap {
  padding: 0 0.5em;
  margin: 0 0.25em;
}
.settings .time span {
  margin: 0 0.5em;
}
/* first div elements */
.settings > div {
  display: inline-block;
}

span.lighten {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

/* Ensure the bg is behind the text */
.mode-high-contrast span.lighten::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 0.8em;
  background-color: var(--cc-grey);
  z-index: -1;
}

.ae {
  height: 100%;
  font-size: var(--fs-title);
  background-color: var(--cc-light);

  /* color: white; */
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: hue; */
  z-index: -1;
}
.opacity-75 {
  opacity: 0.75;
}

/* data stream */

.signedsealeddelivered {
  margin-left: 1em;
  font-family: var(--ff-fancy);
  font-style: italic;
  opacity: 0.5;
}

section.column {
  overflow: scroll;
  scrollbar-color: transparent transparent;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 50vh auto;
}

.content {
  font-size: var(--fs-body);
}
.lighten {
  /* background-color: var(--cc-light); */
  background-color: var(--cc-overlay);
  backdrop-filter: brightness(1.1);
}

.dusk-background .lighten {
  background-color: color-mix(
    in srgb,
    var(--cc-dusk-background),
    var(--cc-overlay)
  );
  color: var(--cc-dusk-foreground);
}

.night-background .lighten {
  background-color: color-mix(
    in srgb,
    var(--cc-night-background),
    var(--cc-overlay)
  );
  color: var(--cc-night-foreground);
}

.dawn-background .lighten {
  background-color: color-mix(
    in srgb,
    var(--cc-dawn-background),
    var(--cc-overlay)
  );
  color: var(--cc-dawn-foreground);
}

.day-background .lighten {
  background-color: color-mix(
    in srgb,
    var(--cc-day-background),
    var(--cc-overlay)
  );
  color: var(--cc-day-foreground);
}
.row.title {
  position: relative;
}
.details h3 {
  display: inline-block;
  margin-top: 0.5em;
}

.details h3 span:not(:last-child),
.mobile h3 span:not(:last-child) {
  display: inline-block;
  margin-bottom: 0.25em;
  width: fit-content;
}

span.year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: var(--fs-title);
  line-height: 1;
  background-color: var(--cc-grey);
}

#container {
  display: grid;
  grid-template-areas:
    "a b c"
    "a b c";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 100vh auto auto;
  grid-template-rows: minmax(100vh, max-content) auto;

  /* height: 100vh; */
  /* height: auto; */
  min-height: 100vh;
}

.actions {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}
.action-buttons img,
.action-buttons svg {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.prompt-icon {
  min-height: 250px;
  align-items: end;
  /* background-color: var(--cc-light); */
  transition: height 0.4s ease-in-out 0.6s, min-height 0.6s ease-in-out,
    background-color 0.2s linear 0.1s;
}
.prompt-icon.no-bg {
  background-color: transparent;
}

.prompt-icon svg.hidden {
  opacity: 0;
  height: 0;
}

.action-buttons > * {
  display: flex; /* Each grid cell becomes a flex container */
  flex-direction: column; /* Stack contents vertically */
  justify-content: flex-end;
}

/* browse button & submit button, file name */
.btns--upload {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  text-align: left;
  width: 100%;
}
.action-buttons {
  grid-column: 1 / -1; /* spans both columns */
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}
button.btn--info {
  /* background-color: var(--cc-grey); */
  /* padding: 0.25em; */
  font-size: 1.5rem !important;
  text-align: center;
  width: var(--fs-subtitle);
  height: var(--fs-subtitle);
  border-radius: 50%;
  vertical-align: top;
  transition: background-color 0.2s ease;
}
button,
.button {
  transition: background-color 0.2s ease;
}
.button:hover,
button.btn--info:hover,
button:hover,
button:focus {
  background-color: var(--cc-grey);
}

.column {
  position: relative;
  overflow: visible;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.column.a {
  grid-area: a;
}
.column.b {
  grid-area: b;
}
.column.c {
  grid-area: c;
}
/* .audio {
  grid-area: audio;
} */

.column .img::before {
  content: "";
  position: absolute;

  /* z-index: 2; */
  pointer-events: none;
}
.column {
  position: relative;
  overflow: visible;
}

.column .img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* mix-blend-mode: difference; */
  /* filter: blur(3px) !important; */
}
.img img,
.img svg {
  position: fixed !important;

  display: none;
  scale: 1.5;
  z-index: -1;
}
.img {
  transition: fill 2.2s ease;
}

.img#icon-hue {
  mix-blend-mode: hue;
  fill: var(--cc-blend-hue);
}
.img#icon-saturation {
  mix-blend-mode: saturation;
  fill: var(--cc-blend-saturation);
}
.img#icon-color {
  mix-blend-mode: color;
  fill: var(--cc-blend-colour);
}

.prompt--next {
  white-space: nowrap;
  justify-content: start;
  height: fit-content;
}
.prompt--container {
  display: flex;
  gap: 0.5rem;
  /* vertical space between buttons */
  justify-content: space-between;
  align-items: start;
}

.prompt--info-text {
  grid-column: 1 / -1;
}
.switch {
  position: relative;
  display: block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.switch .slider,
.switch .slider:before {
  background-color: #000;
}

.switch .slider:before {
  background-color: var(--cc-grey) !important;
}

/* input:checked + .slider {
  background-color: #5f00bf !important;
} */

input:checked + .slider:before {
  background-color: white !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5f00bf;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* footer */

footer {
  margin-top: 5em;
  width: 100%;
  position: relative;
}
/* footer::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 200%;

  transform: translateX(-50%);
  top: 0;
  z-index: 100;
  pointer-events: none;
} */
.footer-links {
  display: flex;
  flex-direction: column;
  /* only take up auto width */

  /* gap: 0.5em; */
  /* margin: 1em 0; */
}
.footer-link {
  text-decoration: none;
  font-size: var(--fs-sml);
  display: inline-block;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.legal p {
  font-size: var(--fs-sml);
  margin: 0;
}

.footer-link:hover {
  opacity: 1;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.space {
  height: 1em;
  margin: 1em 0;
}

/* h--f-sdafdahfga */
svg {
  width: auto;
  /* height: 100%; */
}
.ae svg {
  width: 100%;
}
.flex-end {
  height: 100%;
  display: flex;
  align-items: end;
}
.relative {
  position: relative;
}
.subtitle h3 {
  display: flex;
  flex-direction: column;
}

/* Mobile */

#mobile {
  display: none;
}

#mobile section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1em;
  margin-bottom: 1em;
}
#mobile .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
}

@media (max-width: 768px) {
  :root {
    --fs-subtitle: 2rem;
  }
  #mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  section.column {
    overflow: initial;
    grid-template-rows: auto;
    padding: 0;
  }
  section,
  section.column {
    padding: 0.5em;
  }
}

/* rm */
.temporary * {
  font-size: var(--fs-body);
  letter-spacing: 0em;
}
.temporary {
  /* display: none !important; */
}
.temporary button {
  border: 1px solid blue;
  padding: 0.5em;
}

/* ae mix */
/* .audible-edge-mix {
  margin: 2rem 0;
}

.mix-player {
  width: 100%;
  max-width: 600px;
}

.mix-player audio {
  
  border-radius: 2.5rem;
}

.mix-description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
} */

/* audio */

.mix-player {
  width: 100%;
  max-width: 600px;
}
.mix-description {
  font-size: var(--fs-body);
}

.plyr--audio .plyr__control[data-plyr="play"] {
  background: var(--cc-grey);
}

.plyr--audio .plyr__control[data-plyr="play"]:hover {
  background: var(--cc-light);
}

.plyr--audio .plyr__controls {
  background: transparent !important;
  padding: 20px 0;
  color: unset !important;
}

/* handle high contrast / burrowing modes */
.mode-high-contrast .plyr--audio .plyr__progress__buffer,
.mode-high-contrast .plyr--audio .plyr__volume--display {
  color: var(--cc-body);
}

.mode-high-contrast .plyr--audio .plyr__progress input[type="range"],
.mode-high-contrast .plyr--audio .plyr__volume input[type="range"] {
  color: var(--cc-body);
}
.plyr--audio .plyr__progress input[type="range"],
.plyr--audio .plyr__volume input[type="range"] {
  color: unset;
}

.plyr__tooltip {
  top: 100% !important;
  bottom: auto !important;
  transform-origin: top !important;
  margin-top: 10px !important;
}

/* Adjust the arrow to point upward */
.plyr__tooltip::before {
  top: -4px !important;
  bottom: auto !important;
  border-top: 0 !important;
  border-bottom: 4px solid rgba(255, 255, 255, 0.9) !important;
}

.plyr__tooltip::after {
  top: -3px !important;
  bottom: auto !important;
  border-top: 0 !important;
  border-bottom: 4px solid rgba(255, 255, 255, 0.9) !important;
}

@media (max-width: 768px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "audio"
      "b"
      "c";
    grid-template-rows: auto;
    height: auto;
  }
  section.col {
    grid-template-rows: auto;
  }
  /* .col.a .row.audio {
    order: 2;
  }

  .col.a .row.title {
    order: 1;
  } */
  ul.reviews {
    width: 100%;
  }
  footer {
    margin-top: 0;
  }
}
